@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.asms-banner {
  &.asms-inverted-banner {
    background: color("dark-cyprus");

    *[class*="text-"] {
      color: color("white");
    }
  }

  // service bulk sms page
  &.asms-svc-bulksms-banner {
    .svc-bulksms-banner-split {
      &-img {
        img {
          max-width: 440px;
        }
      }
    }
  }

  // neb result
  &.asms-res-neb-banner {
    .res-neb-banner-split-img {
      @include breakpoint-down(lg) {
        justify-content: center !important;
      }

      img {
        max-height: 450px;
      }
    }
  }

  // see result
  &.asms-res-see-banner {
    .res-see-banner-split-img {
      @include breakpoint-down(lg) {
        justify-content: center !important;
      }
      img {
        max-height: 450px;
      }
    }
  }

  // sms calculator
  &.asms-sms-calc-banner {
    .calc-tool-split {
      grid-template-columns: auto 343px;
    }
    .sms-calc-banner-tool {
      max-width: 1280px;
    }
    .calc-tool-input {
      textarea {
        height: 208px;
      }
    }
    .calc-tool-split-note {
      padding-top: 100px;
    }
  }

  // contact us
  &.asms-contact-banner {
    .asms-contact-banner-container {
      padding-bottom: 220px;
    }
  }
}
