@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";


// INDUSTRY CARDS
.industry-cards{
  .swiper-slide{
    max-width: 300px;

    @include breakpoint-down(xl){
      max-width: 260px;
    }

    @include breakpoint-down(lg){
      max-width: 220px;
    }

    @include breakpoint-down(md){
      max-width: 200px;
    }
  }

  .industry-card{
    height: 380px;

    @include breakpoint-down(xl){
      height: 340px;
    }

    @include breakpoint-down(md){
      height: 320px;
    }

    &-content{
      height: 114px;
      background: linear-gradient(rgb(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.9) 100%);
    }
  }
}

//  CENTERED CARDS
.asms-centered-cards-segment{
  
}
