@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/placeholder" as *;

// ICONS
%icon-common {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

$icon-sizes: (60, 52, 40, 36, 32, 28, 24, 20, 18, 16, 12);

@each $size in $icon-sizes {
    .icon-#{$size} {
        @include box(#{$size}px, #{$size}px);
        min-width: #{$size}px;
        min-height: #{$size}px;
        @extend %icon-common;

        @include breakpoint-down(md) {
            $new-size: $size;
            @if $size >= 36 {
                $new-size: $size - 4;
            } @else if $size < 16 {
                $new-size: $size; // 👈 no reduction for tiny icons
            } @else {
                $new-size: $size - 2;
            }

            width: #{$new-size}px;
            height: #{$new-size}px;
            min-width: #{$new-size}px;
            min-height: #{$new-size}px;
        }

        @include breakpoint-down(xs) {
            $new-size: $size;
            @if $size >= 36 {
                $new-size: $size - 8;
            } @else if $size < 16 {
                $new-size: $size; // 👈 again, no reduction for very small ones
            } @else {
                $new-size: $size - 4;
            }

            width: #{$new-size}px;
            height: #{$new-size}px;
            min-width: #{$new-size}px;
            min-height: #{$new-size}px;
        }
    }
}

[class*="icon"] {
    speak: none;
}
