@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

$z-index-header: 1000;

.asms-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-header;

  &-fixed {
    background: color("white");
  }
}

.asms-inverted-header {
  &:not(.asms-header-fixed) {
    .logo-default {
      display: none;
    }

    .logo-white {
      display: inline-flex !important;
    }

    .asms-navbar {
      &-menu-wrapper {
        .asms-menu {
          &-link {
            .menu-link {
              &-text {
                @include breakpoint-up(xl){
                  color: color("white");
                }
              }

              &-icon {
                @include breakpoint-up(xl){
                  color: color("white");
                }
              }
            }
          }
        }
      }

      &-open-btn{
        filter: invert(1) brightness(100);
      }
    }
  }
}
