@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../mixins/scrollbar" as *;
@use "../abstracts/functions" as *;

.asms-contact-segment {
  &-container{
    margin-top: -140px;
  }
  
  .contact-segment-split {
    background: #e6f7ff;
    border-radius: 50px;

    @include breakpoint-down(xl){
      grid-template-columns: repeat(2, 1fr)!important;
      border-radius: 40px;
    }

    @include breakpoint-down(lg){
      grid-template-columns: 100%!important;
      border-radius: 32px;
    }

    @include breakpoint-down(sm){
      border-radius: 24px;
    }

    @include breakpoint-down(xs){
      border-radius: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 134px;
      height: 131px;
      bottom: -69px;
      left: -58px;
      background: url($img-path + "misc/contact_arrow_shape.svg");

      @include breakpoint-down(xxl){
        scale: 0.8;
      }

      @include breakpoint-down(xl){
        scale: 0.6;
      }
    }
  }
}
